<div class="container">
           <div class="row">
                      <div class="col-md-12">
                                 <h2>Author List</h2>
                                 <a   class="navLink ml-5" mat-raised-button color="primary"
                                 [routerLink]="'/page/home'">Back to Home</a>
                                 <a   class="navLink ml-5" mat-raised-button color="primary"
                                 [routerLink]="'/page/addUser'">Create User</a>
                                 <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Profile</th>
                                                <!-- <th>Role</th> -->
                                                <th>Actions</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                             <tr *ngFor="let user of users">
                                            <td>{{user.name}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.profile.toUpperCase()}}</td>
                                            <!-- <td><div *ngFor="let role of user.roles">

                                                       {{role.roleName}}
                                            </div>
                                            </td> -->
                                            <td>
                                              <a  class="navLink ml-5 button-style" mat-icon-button color="accent" [routerLink]="['/page/updateUser/'+user.id]"><mat-icon  class="mat-18">system_update</mat-icon></a>
                                              <!-- <button class="navLink button-style" mat-icon-button color="accent"><mat-icon (click)="updateUser(user.id)"  class="mat-18">system_update</mat-icon></button> -->
                                              <button class="navLink button-style" mat-icon-button color="warn"><mat-icon (click)="deleteUser(user.id)" class="mat-18">delete</mat-icon></button>
                                            </td>
                                             </tr>
                                            </tbody>
                                          </table>
                      </div>
           </div>
</div>