<div class="container">
           <div class="row">
                      <div class="col-md-12">
                                 <h2>Questions Table</h2>
                                 <a class="navLink ml-5" mat-raised-button color="primary"
                                            [routerLink]="'/page/home'">Back to Home</a>
                                 <table class="table table-striped">
                                            <thead>
                                                       <tr>
                                                                  <th>Question Id</th>
                                                                  <th>Question</th>
                                                                  <th>Status</th>
                                                       </tr>
                                            </thead>
                                            <tbody>
                                                       <tr *ngFor="let question of questions">
                                                                  <td>{{question.id}}</td>
                                                                  <td><a  class="navLink ml-5" [routerLink]="['/page/solveQuestion/'+question.id]">{{question.question}}</a></td>
                                                                  <td>status</td>
                                                       </tr>
                                            </tbody>
                                 </table>
                      </div>
           </div>
</div>