<div class="container">
           <div class="row">
                      <div class="col-md-12">
                                 <h2>Questions Table</h2>
                                 <button class="navLink button-style" mat-raised-button color="primary" (click)="backButton()">Back To SubTopic</button>
                                
                                 <a *ngIf="check" class="navLink" mat-raised-button color="primary"
                                            [routerLink]="'/page/question'">
                                         Add Questions</a>
                                 <table class="table table-striped">
                                            <thead>
                                                       <tr>
                                                                  <th>Question Id</th>
                                                                  <th>Question</th>
                                                                  <th>Sub Topic</th>
                                                                  <th>Topic</th>
                                                                  <th *ngIf="check">Actions</th>
                                                       </tr>
                                            </thead>
                                            <tbody>
                                                       <tr *ngFor="let question of questions">
                                                                  <td>{{question.id}}</td>
                                                                  <!-- <td><a  class="navLink ml-5" [routerLink]="''">{{question.question}}</a></td> -->
                                                                  <td>{{question.question}}</td>
                                                                  <td>{{question.subTopic.subTopicName}}</td>
                                                                  <td>{{question.subTopic.topic.topicName}}</td>
                                                                  <td *ngIf="check">
                                                                        <a  class="navLink ml-5" mat-icon-button color="accent"
                                                                        [routerLink]="'/page/updateQuestion/'+question.id"><mat-icon class="mat-18">system_update</mat-icon></a>
                                                                        <button class="navLink button-style" mat-icon-button color="warn"><mat-icon (click)="deleteQuestion(question.id)" class="mat-18">delete</mat-icon></button>
                                                                  </td>
                                                       </tr>
                                            </tbody>
                                 </table>
                      </div>
           </div>
</div>