<div class="container">
           <div class="row">
                      <div class="col-md-12">
                                 <h2>Questions Table</h2>
                                 <a   class="navLink ml-5" mat-raised-button color="primary"
                                 [routerLink]="'/page/home'">Back to Home</a>
                                 <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th>Question Id</th>
                                                <th>Question</th>
                                                <th>SubTopic</th>
                                                <th>Topic</th>
                                                <th>Actions</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                             <tr *ngFor="let question of questionsList">
                                            <td>{{question.id}}</td>
                                            <td>{{question.question}}</td>
                                            <td >{{question.subTopic.subTopicName}}</td>
                                            <td >{{question.subTopic.topic.topicName}}</td>
                                            <td>
                                                       <a   class="navLink ml-5" mat-raised-button color="primary"
                                                       [routerLink]="''">Update</a>
                                                       <a   class="navLink button-style" mat-raised-button color="danger"
                                                       [routerLink]="''">Delete</a>
                                            </td>
                                             </tr>
                                            </tbody>
                                          </table>
                      </div>
           </div>
</div>