

// colors 

$blue                   :               #1904E5;
$black                  :               #000000;
$acent                  :               #717cbe;
$white                  :               #ffffff;
$disabled               :               #959393;